/* CSS absolument pas trié, un vrais bordel pour s'y retrouver amuse toi bien*/

body {
  margin: 0;
  padding: 0;
  color: white;
  overflow-x: hidden;
  font-family: "Century Gothic", "Lato", sans-serif;
}

.header-text {
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
}
.autotype {
  margin-top: 50%;
}

.header-text span {
  color: #3fbea3;
}

/*auto text*/

.text {
  font-weight: 100px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media (prefers-reduced-motion) {
}

/*----------biographie --------*/
.box {
  height: 810px;
  width: 280px;
  background: rgb(43, 43, 43);
  top: 10%;
  left: 20%;
  border-radius: 25px;
  position: absolute;
  box-shadow: rgba(38, 38, 65, 0.452) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.486) 0px 18px 36px -18px inset;
}

.jsp {
  margin-top: 30px;
  display: flex;
  margin-left: 20px;
}
.jsp i {
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center;
}
.jsp .info {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: rgb(175, 175, 175);
}
.box_icon {
  width: 40px;
  height: 50px;
  border-radius: 10px;
  background: rgb(58, 58, 58);
  box-shadow: rgba(14, 14, 22, 0.295) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.486) 0px 18px 36px -18px inset;
}
.barre {
  border-top: 1px solid #181818; /* couleur et épaisseur de la barre */
  margin: 20px 20px; /* marge au-dessus et en dessous de la barre */
}
.box img {
  border-radius: 10px;
  margin-top: 10px;
  width: 80%;
  height: auto;
  /*   object-fit: cover; */
}

.text_biographie {
  position: absolute;
  max-width: 700px;
  right: 20%;
  top: 20%;
  font-size: 20px;
}
/*---------- mon prcours --------*/

.container {
  margin: 20px auto;
  padding: 20px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.experience {
  margin-bottom: 20px;
}

.experience h2 {
  margin-bottom: 5px;
  color: #3fbea3;
}

.experience p {
  margin: 5px 0;
  color: #ffffff;
}

.experience p strong {
  font-weight: bold;
}

.ligne {
  position: absolute;
  background: #ffffff;
  width: 2px;
  height: 900px;
  margin-top: 50px;
  margin-left: -100px;
}
.point {
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: 10px;
  margin-left: -109px;
  border-radius: 50px;

  background: white;
}

/* ---------Mes competences-------*/

.title_comp {
  position: absolute;
  top: 0;
}

.text_competence {
  position: absolute;
  max-width: 700px;
  left: 10%;
  top: 20%;
  font-size: 20px;
}

.browser-window {
  max-width: 600px;
  max-height: 400px;
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #333;
  padding: 45px 20px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.browser-window2 {
  max-width: 600px;
  max-height: 400px;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #333;
  padding: 45px 20px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.browser-bar {
  font-size: 12px;
  background-color: #333;
  border-bottom: solid 1px black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  /* overflow: hidden; */
  border-radius: 10px 10px 0 0;
}

/*browser- bar button group*/
.button {
  float: left;
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/*Close, minimize maximiza buttons*/
.close {
  background: #fc635d;
}

.min {
  background: #fdbc40;
}

.max {
  background: #34c84a;
}

/*browser window ends*/

textarea {
  width: 500px;
  height: 300px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  font-size: 80%;
  border: none;
  outline: none;
  background: #1d1d1d;
  padding: 11px 25px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  /* height: 100%; */
  resize: none;
}

/* ---------portfolio-------*/

.et-hero-tabs,
.et-slide2 {
  /* margin-top: 0; */
  display: block;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #161616;
  text-align: center;
  padding: 0 2em;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px;
  justify-items: center;
}
.services-list img {
  width: 80%;
}
.services-list div {
  margin-top: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;

  background: #262626;
  max-width: 650px;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #3fbea3;
  transform: translateY(-10px);
}

/* ---------menu-------*/

.et-hero-tabs,
.et-slide {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #161616;
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.515);
  background: #272727;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #ffffff;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: #3fbea3;
  background: transparent;
  transform: translateY(-5px);
  text-decoration: none;
  /* box-shadow: #161616; */
  transition: all 0.5s ease;
}

@media (max-width: 800px) {
  .menuhidden {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 30px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -110%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff17f;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu__item:hover {
    background-color: #cfd8dc55;
  }
}

@media (min-width: 800px) {
  .hamhidden {
    display: none;
  }

  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }

  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
  /* .et-hero-tab-slider {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 6px;
        background: #8c0004;
        transition: left 0.3s ease;
    }
 */
}

/* -----FOOTER -----------*/

body .footer {
  /* border-top: solid 1px rgba(0, 0, 0, 0.425); */
  /* position: absolute; */
  color: #ffffff;
  background: #161616;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  z-index: 5;
  height: 100px;
}

.img-container {
  width: 60vw;
  height: 60vw;
}

/* Pour les écrans de taille moyenne à grande */
@media screen and (min-width: 768px) {
  .container {
    /* max-width: 960px;  */
    margin: 0 auto; /* Centrez le contenu */
  }
}

/* Pour les écrans plus petits */
@media screen and (max-width: 767px) {
  .services-list {
    width: 10%;
  }

  .container {
    padding: 0 15px; /* Ajoutez un espacement sur les côtés */
    font-size: 70%;
  }
  .browser-window,
  .browser-window2 {
    left: 50%; /* Centrez les fenêtres du navigateur */
    transform: translateX(-50%);
    visibility: hidden;
  }

  .ligne {
    display: none; /* Masquez la ligne sur les écrans plus petits */
  }
}

/* Pour les smartphones en mode portrait */
@media screen and (max-width: 480px) {
  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 2rem; /* Réduisez la taille du titre */
  }
}
